html {
    @include media-breakpoint-down(xxl) {
        font-size: 90%;
    }
    
    @include media-breakpoint-down(xl) {
        font-size: 80%;
    }
    
    @include media-breakpoint-down(lg) {
        font-size: 70%;
    }    
    
    @include media-breakpoint-down(md) {
        font-size: 65%;
    }
    
    @include media-breakpoint-down(sm) {
        font-size: 60%;
    }
}

// Section
section {
	position: relative;
}

.section {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	
	h2 {
		margin-bottom: 5rem;
	}
}

.wrapper {
	padding: 0;
}

.site-main {
    padding-top: 6rem;
	padding-bottom: 6rem;
}

// Page Title
.page-title {
    color: $white;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    
    .title {
        margin: 0;
    }
}


// button
.btn {
	&.btn-secondary {
		border: $btn-border-width solid $white;
	}
}

.wp-element-button {
    @extend .btn;
    @extend .btn-secondary;
}


// Typography
@import "typography";


// Utilities
@import "utilities";


// Header
@import "header";


// Footer
@import "footer";


// Posts
@import "posts";


// Page Templates
@import "page-templates";